<!DOCTYPE html>
<html style="" lang="en-US"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Blog – Amin Fallahi</title>
<meta name="robots" content="noindex,follow">
<link rel="dns-prefetch" href="http://s.w.org/">
<link rel="stylesheet" id="contact-form-7-css" href="css/styles.css" type="text/css" media="all">
<link rel="stylesheet" id="menu-image-css" href="css/menu-image.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="css/all.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-migrate.js"></script>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>
<body class="blog wp-custom-logo hfeed">
<div id="wraper">
        <!-- Start Home-header section -->
    <section class="home-header border-bottom padding-block">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                    <!-- Your foto -->
                    <div class="foto">
                        <img src="images/cropped-cropped-edited.jpg" alt="Amin Fallahi" width="232" height="232">
                    </div>
                    <!-- end your foto -->
                </div>
                                <div class="col-xs-12 col-sm-7 col-lg-7">
                    <a href="http://demo.aminfallahi.com/personal-info/"><h1 class="title">Amin Fallahi</h1></a>
                    <h3 class="sub-title">WordPress Theme Developer</h3>
                    <!-- social icon -->
                    <div class="social">
                        <ul class="animated fadeIn visible" data-animation="fadeIn" data-animation-delay="600">
                                                        <li><a class="facebook ukie-icons hover-animate" href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                                                    <li><a class="twitter ukie-icons hover-animate" href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                                    <li><a class="linkedin ukie-icons hover-animate" href="#" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                                                    <li><a class="google-plus ukie-icons hover-animate" href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                                                                    <li><a class="wordpress ukie-icons hover-animate" href="#" title="WordPress" target="_blank"><i class="fa fa-wordpress"></i></a></li>
                                                </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Home-header section -->
    <!-- Start Menu section -->
    <nav class="menu">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row"><div class="menu_cent">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    
                    <ul id="sparkle_menu" class="nav navbar-nav mainnav clearfix"><li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://demo.aminfallahi.com/personal-info/profile/" class="menu-image-title-below menu-image-not-hovered"><img src="images/profile-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title">Profile</span></a></li>
<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://demo.aminfallahi.com/personal-info/resume/" class="menu-image-title-below menu-image-not-hovered"><img src="images/resume-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title">Resume</span></a></li>
<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="http://demo.aminfallahi.com/personal-info/portfolio/" class="menu-image-title-below menu-image-not-hovered"><img src="images/portfolio-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title">Portfolio</span></a></li>
<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-25 current_page_item current_page_parent menu-item-27"><a href="http://demo.aminfallahi.com/personal-info/blog/" class="menu-image-title-below menu-image-not-hovered"><img src="images/blog-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title">Blog</span></a></li>
<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://demo.aminfallahi.com/personal-info/contact-form/" class="menu-image-title-below menu-image-not-hovered"><img src="images/contact-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title">Contact Us</span></a></li>
</ul>                    <!-- end menu block (contact) -->
                    
                </div></div>
            </div>
            <!-- end row -->
           
        </div>
        <!-- end container -->
    </nav>
    <!-- End Menu section -->
    <div class="container">
	<div class="row">
		
		<div id="primary" class="content-area col-sm-8">
		<main id="main" class="site-main" role="main">
		

						<header>
					<h1 class="page-title screen-reader-text">Blog</h1>
				</header>

			<article id="post-66" class="post-66 post type-post status-publish format-standard has-post-thumbnail hentry category-computer-programming tag-personal-info-fifth-post">
	<!-- Post Header -->
	<div class="blog-head  inner-head t-shadow clearfix">
	<!-- Post Date -->
	<div class="blog-head-left t-center">
		<!-- Day -->
		<h1 class="uppercase bigger">
		29		</h1>
		<!-- Month, Year -->
		<p class="uppercase">
		Jun 2017		</p>
		
	</div>
	<!-- End Post Date -->
	<!-- Post Header -->
	<a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-third-post/" class="blog-head-right ex-link t-left">
		<!-- Header -->
		<h1 class="uppercase">Personal info Third Post</h1>	</a>
	<!-- Post Header -->
</div>
		<!-- Image -->
	<div class="single_item mp-gallery">
		<img src="images/businessman-1492563_1920-1024x449.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/businessman-1492563_1920-1024x449.jpg 1024w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/businessman-1492563_1920-300x132.jpg 300w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/businessman-1492563_1920-768x337.jpg 768w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/businessman-1492563_1920-24x11.jpg 24w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/businessman-1492563_1920-36x16.jpg 36w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/businessman-1492563_1920-48x21.jpg 48w" sizes="(max-width: 640px) 100vw, 640px" width="640" height="281">	</div><!-- End Image -->
		
	<!-- Post Details -->
	<div class="details">
		<!-- Post Infos -->
		<div class="post-info">
			<!-- Post Item -->
			<a href="http://demo.aminfallahi.com/personal-info/author/sparklewp/" class="post-item">
				<i class="fa fa-user"></i>
				sparklewp			</a>
			<!-- Post Item -->
			<i class="post-item">
				<i class="fa fa-tags"></i>
				<a href="http://demo.aminfallahi.com/personal-info/category/computer-programming/" rel="category tag">Computer Programming</a>			</i>
			<!-- Post Item -->
			<span class="post-item">
				<i class="fa fa-comments"></i>
				<a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-third-post/#respond">No Comments<span class="screen-reader-text"> on Personal info Third Post</span></a>			</span>
		</div>
		<!-- End Post Infos -->
		<!-- Post Description -->
		<div class="post-text">
			<p>Suspendisse consectetuer cumque natus natus aliqua adipiscing 
explicabo gravida, facilis, accumsan, ea neque placeat temporibus earum 
nisl aperiam! Ducimus tellus inceptos rem.  <a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-third-post/#more-66" class="more-link">Continue reading <span class="screen-reader-text">“Personal info Third Post”</span> <span class="meta-nav">→</span></a></p>
		</div>
	</div>
</article><!-- #post-## -->
<article id="post-64" class="post-64 post type-post status-publish format-standard has-post-thumbnail hentry category-computer-programming tag-personal-info-second">
	<!-- Post Header -->
	<div class="blog-head  inner-head t-shadow clearfix">
	<!-- Post Date -->
	<div class="blog-head-left t-center">
		<!-- Day -->
		<h1 class="uppercase bigger">
		29		</h1>
		<!-- Month, Year -->
		<p class="uppercase">
		Jun 2017		</p>
		
	</div>
	<!-- End Post Date -->
	<!-- Post Header -->
	<a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-second-post/" class="blog-head-right ex-link t-left">
		<!-- Header -->
		<h1 class="uppercase">Personal info Second Post</h1>	</a>
	<!-- Post Header -->
</div>
		<!-- Image -->
	<div class="single_item mp-gallery">
		<img src="images/robot-2167836_1920-1024x641.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/robot-2167836_1920-1024x641.jpg 1024w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/robot-2167836_1920-300x188.jpg 300w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/robot-2167836_1920-768x480.jpg 768w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/robot-2167836_1920-24x15.jpg 24w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/robot-2167836_1920-36x23.jpg 36w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/robot-2167836_1920-48x30.jpg 48w" sizes="(max-width: 640px) 100vw, 640px" width="640" height="401">	</div><!-- End Image -->
		
	<!-- Post Details -->
	<div class="details">
		<!-- Post Infos -->
		<div class="post-info">
			<!-- Post Item -->
			<a href="http://demo.aminfallahi.com/personal-info/author/sparklewp/" class="post-item">
				<i class="fa fa-user"></i>
				sparklewp			</a>
			<!-- Post Item -->
			<i class="post-item">
				<i class="fa fa-tags"></i>
				<a href="http://demo.aminfallahi.com/personal-info/category/computer-programming/" rel="category tag">Computer Programming</a>			</i>
			<!-- Post Item -->
			<span class="post-item">
				<i class="fa fa-comments"></i>
				<a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-second-post/#respond">No Comments<span class="screen-reader-text"> on Personal info Second Post</span></a>			</span>
		</div>
		<!-- End Post Infos -->
		<!-- Post Description -->
		<div class="post-text">
			<p>Suspendisse consectetuer cumque natus natus aliqua adipiscing 
explicabo gravida, facilis, accumsan, ea neque placeat temporibus earum 
nisl aperiam! Ducimus tellus inceptos rem. <a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-second-post/#more-64" class="more-link">Continue reading <span class="screen-reader-text">“Personal info Second Post”</span> <span class="meta-nav">→</span></a></p>
		</div>
	</div>
</article><!-- #post-## -->
<article id="post-58" class="post-58 post type-post status-publish format-standard has-post-thumbnail hentry category-computer-programming tag-personal-info">
	<!-- Post Header -->
	<div class="blog-head  inner-head t-shadow clearfix">
	<!-- Post Date -->
	<div class="blog-head-left t-center">
		<!-- Day -->
		<h1 class="uppercase bigger">
		29		</h1>
		<!-- Month, Year -->
		<p class="uppercase">
		Jun 2017		</p>
		
	</div>
	<!-- End Post Date -->
	<!-- Post Header -->
	<a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-forth-post/" class="blog-head-right ex-link t-left">
		<!-- Header -->
		<h1 class="uppercase">Personal info Forth Post</h1>	</a>
	<!-- Post Header -->
</div>
		<!-- Image -->
	<div class="single_item mp-gallery">
		<img src="images/vietnam-1716826_1920-1024x677.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/vietnam-1716826_1920-1024x677.jpg 1024w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/vietnam-1716826_1920-300x198.jpg 300w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/vietnam-1716826_1920-768x508.jpg 768w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/vietnam-1716826_1920-24x16.jpg 24w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/vietnam-1716826_1920-36x24.jpg 36w, http://demo.aminfallahi.com/personal-info/wp-content/uploads/2017/06/vietnam-1716826_1920-48x32.jpg 48w" sizes="(max-width: 640px) 100vw, 640px" width="640" height="423">	</div><!-- End Image -->
		
	<!-- Post Details -->
	<div class="details">
		<!-- Post Infos -->
		<div class="post-info">
			<!-- Post Item -->
			<a href="http://demo.aminfallahi.com/personal-info/author/sparklewp/" class="post-item">
				<i class="fa fa-user"></i>
				sparklewp			</a>
			<!-- Post Item -->
			<i class="post-item">
				<i class="fa fa-tags"></i>
				<a href="http://demo.aminfallahi.com/personal-info/category/computer-programming/" rel="category tag">Computer Programming</a>			</i>
			<!-- Post Item -->
			<span class="post-item">
				<i class="fa fa-comments"></i>
				<a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-forth-post/#comments">1 Comment<span class="screen-reader-text"> on Personal info Forth Post</span></a>			</span>
		</div>
		<!-- End Post Infos -->
		<!-- Post Description -->
		<div class="post-text">
			<p>Suspendisse consectetuer cumque natus natus aliqua adipiscing 
explicabo gravida, facilis, accumsan, ea neque placeat temporibus earum 
nisl aperiam! Ducimus tellus inceptos rem. <a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-forth-post/#more-58" class="more-link">Continue reading <span class="screen-reader-text">“Personal info Forth Post”</span> <span class="meta-nav">→</span></a></p>
		</div>
	</div>
</article><!-- #post-## -->

	<nav class="navigation posts-navigation" role="navigation">
		<h2 class="screen-reader-text">Posts navigation</h2>
		<div class="nav-links"><div class="nav-previous"><a href="http://demo.aminfallahi.com/personal-info/blog/page/2/">Older posts</a></div></div>
	</nav>
		</main><!-- #main -->
	</div><!-- #primary -->
		
		<div class="col-sm-4">
			
<aside id="secondary" class="widget-area" role="complementary">
	<section id="search-2" class="widget widget_search"><form role="search" method="get" class="search-form" action="http://demo.aminfallahi.com/personal-info/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search …" name="s">
				</label>
				<input type="submit" class="search-submit" value="Search">
			</form></section>		<section id="recent-posts-2" class="widget widget_recent_entries">		<h2 class="widget-title">Recent Posts</h2>		<ul>
											<li>
					<a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-third-post/">Personal info Third Post</a>
									</li>
											<li>
					<a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-second-post/">Personal info Second Post</a>
									</li>
											<li>
					<a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-forth-post/">Personal info Forth Post</a>
									</li>
											<li>
					<a href="http://demo.aminfallahi.com/personal-info/2017/06/29/blog-post-three/">Blog Post Three</a>
									</li>
											<li>
					<a href="http://demo.aminfallahi.com/personal-info/2017/06/29/second-blog-post2/">Second Blog Post2</a>
									</li>
					</ul>
		</section><section id="recent-comments-2" class="widget widget_recent_comments"><h2 class="widget-title">Recent Comments</h2><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link">sparklewp</span> on <a href="http://demo.aminfallahi.com/personal-info/2017/06/29/personal-info-forth-post/#comment-2">Personal info Forth Post</a></li></ul></section><section id="archives-2" class="widget widget_archive"><h2 class="widget-title">Archives</h2>		<ul>
			<li><a href="http://demo.aminfallahi.com/personal-info/2017/06/">June 2017</a></li>
		</ul>
		</section><section id="categories-2" class="widget widget_categories"><h2 class="widget-title">Categories</h2>		<ul>
	<li class="cat-item cat-item-3"><a href="http://demo.aminfallahi.com/personal-info/category/computer-programming/">Computer Programming</a>
</li>
	<li class="cat-item cat-item-1"><a href="http://demo.aminfallahi.com/personal-info/category/uncategorized/">Uncategorized</a>
</li>
		</ul>
</section><section id="meta-2" class="widget widget_meta"><h2 class="widget-title">Meta</h2>			<ul>
						<li><a href="http://demo.aminfallahi.com/personal-info/wp-login.php">Log in</a></li>
			<li><a href="http://demo.aminfallahi.com/personal-info/feed/">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://demo.aminfallahi.com/personal-info/comments/feed/">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>			</ul>
			</section></aside><!-- #secondary -->
		</div>
		
	</div>
</div>
  <!-- Start Footer section -->
    <footer class="footer">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span> +977-123-456-7890 </a>
                </div>
                                                <!--email_off-->  
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span> info@aminfallahi.com</a>
                </div>
                <!--/email_off-->
                                                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span>Santhinagar, Kathmandu, Nepal  </a>
                </div>  
                               
            </div>
            <!-- end row -->
            <div class="row">
                 <div class="col-xs-12 col-sm-12 col-lg-12 text-right">
                    <span class="copyright"><a href="https://wordpress.org/">Proudly powered by WordPress</a>
			         <span class="sep"> | </span>
			        Theme: personal-info by <a href="" rel="designer">AminFallahi</a>.</span>
                </div>
                <!-- end Copyright -->
            </div>
        </div>
        <!-- end container -->
    </footer>
    <!-- End Footer section -->
</div>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/navigation.js"></script>
<script type="text/javascript" src="js/skip-link-focus-fix.js"></script>
<script type="text/javascript" src="js/wp-embed.js"></script>


</body></html>
