<!DOCTYPE html>
<html style="" lang="en-US"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Contact Us – Amin Fallahi</title>
<meta name="robots" content="noindex,follow">
<link rel="dns-prefetch" href="http://s.w.org/">
<link rel="stylesheet" id="contact-form-7-css" href="css/styles.css" type="text/css" media="all">
<link rel="stylesheet" id="menu-image-css" href="css/menu-image.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="css/all.css" type="text/css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-migrate.js"></script>
		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>
<body class="page-template page-template-page-templates page-template-contact page-template-page-templatescontact-php page page-id-9 wp-custom-logo">
<div id="wraper">
        <!-- Start Head section -->
    <header class="head">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row ">
                <div class="contact_cl col-xs-8 col-sm-11 col-lg-11">
                    <img class="logo-page" src="images/contact.png" alt="Contact">
                    <!-- Title Page -->
                    <h2 class="title">Contact</h2>
                    <!-- Description Page -->
                    <h4 class="sub-title">Get in touch with me</h4>
                </div>
                <div class="col-xs-4 col-sm-1 col-lg-1 text-right">
                    <a href="http://demo.aminfallahi.com/personal-info/" class="btn-close hover-animate"><img class="logo-page" src="images/close.svg"></a>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </header>
    <!-- End Head section -->
    <!-- Start Content section -->
    <section class="content padding-block border-bottom">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <h3 class="title title-contact">Contact info</h3>
                    <div class="block-grey">
                                            <table>
                            <tbody><tr>
                                <td class="font-weight-m width-td">Address</td>
                                <td><a href="">
                                	kathmandu, Nepal                                	</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">Phone</td>
                                <td><a href="http://demo.aminfallahi.com/personal-info/contact-form/+977-9802075711">
                                	+977-9802075711                                </a></td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">E-mail</td>
                                <td><a href="mailto:aminfallahi@gmail.com">
                                	aminfallahi@gmail.com                                </a></td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">Skype</td>
                                <td>Amin Fallahi</td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">Website</td>
                                <td><a href="https://www.aminfallahi.com/">https://www.aminfallahi.com</a></td>
                            </tr>
                        </tbody></table>
                        <!-- social icon -->
                        <div class="social">
                            <ul class="animated fadeIn visible" data-animation="fadeIn" data-animation-delay="600">
                                                                    <li><a class="facebook ukie-icons hover-animate" href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                                    <li><a class="twitter ukie-icons hover-animate" href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                    <li><a class="linkedin ukie-icons hover-animate" href="" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                                    <li><a class="google-plus ukie-icons hover-animate" href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                                                    <li><a class="wordpress ukie-icons hover-animate" href="#" title="WordPress" target="_blank"><i class="fa fa-wordpress"></i></a></li>
                                                            </ul>
                        </div>
                        <!-- end social icon -->
                    </div>
                
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <h3 class="title title-contact">Contact Us</h3>
                    
                    <!-- Start Contact Form -->
                    <div class="contact-form contact-form-7">
                        <div role="form" class="wpcf7" id="wpcf7-f10-p9-o1" dir="ltr" lang="en-US">
<div class="screen-reader-response"></div>
<form action="/personal-info/contact-form/#wpcf7-f10-p9-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<p><input type="text" name="id:user-name" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name"><br>
    <input type="email" name="id:user-email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email"><br>
    <textarea name="id:user-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea></p>
<div class="footer-form">
<input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn btn-color hover-animate"><span class="ajax-loader"></span>
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
                    </div>
                    <!-- End Contact Form -->
                </div>
            </div>
            <!-- end row -->
                    </div>
        <!-- end container -->
    </section>
    <!-- End Content section -->
   
   <!-- Start Footer section -->
    <footer class="footer">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span> +977-123-456-7890 </a>
                </div>
                                                <!--email_off-->  
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span> info@aminfallahi.com</a>
                </div>
                <!--/email_off-->
                                                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span>Santhinagar, Kathmandu, Nepal  </a>
                </div>  
                               
            </div>
            <!-- end row -->
            <div class="row">
                 <div class="col-xs-12 col-sm-12 col-lg-12 text-right">
                    <span class="copyright"><a href="https://wordpress.org/">Proudly powered by WordPress</a>
			         <span class="sep"> | </span>
			        Copyright stuff</span>
                </div>
                <!-- end Copyright -->
            </div>
        </div>
        <!-- end container -->
    </footer>
    <!-- End Footer section -->
</div>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/navigation.js"></script>
<script type="text/javascript" src="js/skip-link-focus-fix.js"></script>
<script type="text/javascript" src="js/wp-embed.js"></script>


</body></html>
