<!DOCTYPE html>
<html style="" lang="en-US"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Amin Fallahi – WordPress Theme Developer</title>
<meta name="robots" content="noindex,follow">
<link rel="dns-prefetch" href="http://s.w.org/">
<link rel="stylesheet" id="contact-form-7-css" href="css/styles.css" type="text/css" media="all">
<link rel="stylesheet" id="menu-image-css" href="css/menu-image.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="css/all.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-migrate.js"></script>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>
<body class="home page-template page-template-page-templates page-template-home page-template-page-templateshome-php page page-id-81 wp-custom-logo">
<div id="wraper">
        <!-- Start Home-header section -->
    <section class="home-header border-bottom padding-block">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                    <!-- Your foto -->
                    <div class="foto">
                        <img src="images/cropped-cropped-edited.jpg" alt="Amin Fallahi" width="232" height="232">
                    </div>
                    <!-- end your foto -->
                </div>
                                <div class="col-xs-12 col-sm-7 col-lg-7">
                    <a href="http://demo.aminfallahi.com/personal-info/"><h1 class="title">Amin Fallahi</h1></a>
                    <h3 class="sub-title">WordPress Theme Developer</h3>
                    <!-- social icon -->
                    <div class="social">
                        <ul class="animated fadeIn visible" data-animation="fadeIn" data-animation-delay="600">
                                                        <li><a class="facebook ukie-icons hover-animate" href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                                                    <li><a class="twitter ukie-icons hover-animate" href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                                    <li><a class="linkedin ukie-icons hover-animate" href="#" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                                                    <li><a class="google-plus ukie-icons hover-animate" href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                                                                    <li><a class="wordpress ukie-icons hover-animate" href="#" title="WordPress" target="_blank"><i class="fa fa-wordpress"></i></a></li>
                                                </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Home-header section -->
    <!-- Start Menu section -->
    <nav class="menu">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row"><div class="menu_cent">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    
                    <ul id="sparkle_menu" class="nav navbar-nav mainnav clearfix"><li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://demo.aminfallahi.com/personal-info/profile/" class="menu-image-title-below menu-image-not-hovered"><img src="images/profile-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title">Profile</span></a></li>
<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://demo.aminfallahi.com/personal-info/resume/" class="menu-image-title-below menu-image-not-hovered"><img src="images/resume-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title">Resume</span></a></li>
<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="http://demo.aminfallahi.com/personal-info/portfolio/" class="menu-image-title-below menu-image-not-hovered"><img src="images/portfolio-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title">Portfolio</span></a></li>
<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="http://demo.aminfallahi.com/personal-info/blog/" class="menu-image-title-below menu-image-not-hovered"><img src="images/blog-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title">Blog</span></a></li>
<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://demo.aminfallahi.com/personal-info/contact-form/" class="menu-image-title-below menu-image-not-hovered"><img src="images/contact-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title">Contact Us</span></a></li>
</ul>                    <!-- end menu block (contact) -->
                    
                </div></div>
            </div>
            <!-- end row -->
           
        </div>
        <!-- end container -->
    </nav>
    <!-- End Menu section -->
     
  <!-- Start Footer section -->
    <footer class="footer">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span> +977-123-456-7890 </a>
                </div>
                                                <!--email_off-->  
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span> info@aminfallahi.com</a>
                </div>
                <!--/email_off-->
                                                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span>Santhinagar, Kathmandu, Nepal  </a>
                </div>  
                               
            </div>
            <!-- end row -->
            <div class="row">
                 <div class="col-xs-12 col-sm-12 col-lg-12 text-right">
                    <span class="copyright"><a href="https://wordpress.org/">Proudly powered by WordPress</a>
			         <span class="sep"> | </span>
			        Theme: personal-info by <a href="" rel="designer">AminFallahi</a>.</span>
                </div>
                <!-- end Copyright -->
            </div>
        </div>
        <!-- end container -->
    </footer>
    <!-- End Footer section -->
</div>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/navigation.js"></script>
<script type="text/javascript" src="js/skip-link-focus-fix.js"></script>
<script type="text/javascript" src="js/wp-embed.js"></script>


</body></html>
