<!DOCTYPE html>
<html style="" lang="en-US"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Portfolio – Amin Fallahi</title>
<meta name="robots" content="noindex,follow">
<link rel="dns-prefetch" href="http://s.w.org/">
<link rel="stylesheet" id="contact-form-7-css" href="css/styles.css" type="text/css" media="all">
<link rel="stylesheet" id="menu-image-css" href="css/menu-image.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="css/all.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-migrate.js"></script>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>
<body class="page-template page-template-page-templates page-template-portfolio page-template-page-templatesportfolio-php page page-id-8 wp-custom-logo">
<div id="wraper">
       <!-- Start Head section -->
        <header class="head">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-8 col-sm-11 col-lg-11">
                <img class="logo-page" src="images/portfolio.png" alt="portfolio">
                    <!-- Title Page -->
                    <h2 class="title">Portfolio</h2>
                    <!-- Description Page -->
                    <h4 class="sub-title">Some of My Works</h4>
                </div>
                <div class="col-xs-4 col-sm-1 col-lg-1 text-right">
                    <a href="http://demo.aminfallahi.com/personal-info/" class="btn-close hover-animate"><img class="logo-page" src="images/close.svg"></a>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </header>
    <!-- End Head section -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <p><em>Lorem Ipsum </em>is simply dummy<em> text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the </em>1500s,<em>
 when an unknown printer took a galley of type and scrambled it to make a
 type specimen book. It has survived not only five centuries, but also 
the l</em></p>
<p>&nbsp;</p>
<p><em>Lorem Ipsum </em>is simply dummy<em> text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the </em>1500s,<em>
 when an unknown printer took a galley of type and scrambled it to make a
 type specimen book. It has survived not only five centuries, but also 
the leap into electronic typesetting, remaining essentially unchanged. 
It was </em>popularised<em> in the 1960s with the release of Letraset 
sheets containing Lorem Ipsum passages, and more recently with desktop 
publishing software like Aldus PageMaker including versions of Lorem 
Ipsum.</em></p>
            </div>
        </div>
    </div>
  
  <!-- Start Footer section -->
    <footer class="footer">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span> +977-123-456-7890 </a>
                </div>
                                                <!--email_off-->  
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span> info@aminfallahi.com</a>
                </div>
                <!--/email_off-->
                                                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span>Santhinagar, Kathmandu, Nepal  </a>
                </div>  
                               
            </div>
            <!-- end row -->
            <div class="row">
                 <div class="col-xs-12 col-sm-12 col-lg-12 text-right">
                    <span class="copyright"><a href="https://wordpress.org/">Proudly powered by WordPress</a>
			         <span class="sep"> | </span>
			        Theme: personal-info by <a href="" rel="designer">AminFallahi</a>.</span>
                </div>
                <!-- end Copyright -->
            </div>
        </div>
        <!-- end container -->
    </footer>
    <!-- End Footer section -->
</div>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/navigation.js"></script>
<script type="text/javascript" src="js/skip-link-focus-fix.js"></script>
<script type="text/javascript" src="js/wp-embed.js"></script>


</body></html>
