<!DOCTYPE html>
<html style="" lang="en-US"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Resume – Amin Fallahi</title>
<meta name="robots" content="noindex,follow">
<link rel="dns-prefetch" href="http://s.w.org/">
<link rel="stylesheet" id="contact-form-7-css" href="css/styles.css" type="text/css" media="all">
<link rel="stylesheet" id="menu-image-css" href="css/menu-image.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="css/all.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-migrate.js"></script>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>
<body class="page-template page-template-page-templates page-template-resume page-template-page-templatesresume-php page page-id-7 wp-custom-logo">
<div id="wraper">
        <!-- Start Head section -->
    <header class="head">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-8 col-sm-11 col-lg-11">
                    <img class="logo-page" src="images/resume.png" alt="Resume">
                    <!-- Title Page -->
                    <h2 class="title">Resume</h2>
                    <!-- Description Page -->
                    <h4 class="sub-title">My Qualifications</h4>
                </div>
                <div class="col-xs-4 col-sm-1 col-lg-1 text-right">
                    <a href="http://demo.aminfallahi.com/personal-info/" class="btn-close hover-animate"><img class="logo-page" src="images/close.svg"></a>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </header>
    <!-- End Head section -->

    <!-- Start Content section -->
    <section class="content padding-block border-bottom">
        <!-- start container -->
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                                            <div class="alert alert-info"><h2 class="title text-center"><i class="fa fa-quote-left"></i>Resume  <i class="fa fa-quote-right"></i></h2></div>
                         <p></p>
                                    </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <h3 class="title title-resume">Education</h3>
                    <div class="block-grey">
                        <div id="education-slider" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 4064px; left: 0px; display: block;"><div class="owl-item" style="width: 508px;">
                            <div class="item">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-m width-td">Name</td>
                                                <td>Madhymanchal Regional Engineering College</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-m">Address</td>
                                                <td>Janakpurdham-8</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-m">Period</td>
                                                <td>2013-2016</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-m">Level</td>
                                                <td>BSc. IT</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>Best College of IT fields. </p>
                                </div></div><div class="owl-item" style="width: 508px;">
                                </div></div></div>                                
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-6">
                
                    <h3 class="title title-resume">Work</h3>
                    <div class="block-grey">
                        <div id="work-slider" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 3048px; left: 0px; display: block;">
                            <div class="owl-item" style="width: 508px;">
                            <div class="item">
                            
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="font-weight-m width-td1">Company Name</td>
                                            <td>
                                                AminFallahi.com                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-m">Address</td>
                                            <td>Kathamandu, Santinagar</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-m">Period</td>
                                            <td>2016-Present</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-m">Post</td>
                                            <td>WordPress Developer</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Working as PHP Developer and WordPress Developer</p>
                            </div> 
                            </div>
                            </div></div>                                     
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div></section>
    <!-- End Content section -->
    <!-- Start Skills section -->
    <section class="skills border-bottom padding-block">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                                 
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <h3 class="title title-skills">Soft skills</h3>
                                            <label class="progress-bar-label">Team Work</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span>90%</span>
                            </div>
                        </div>
                                                <label class="progress-bar-label">Mentoring</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 96%">
                                <span>96%</span>
                            </div>
                        </div>
                                                <label class="progress-bar-label">Proactive</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span>85%</span>
                            </div>
                        </div>
                                                <label class="progress-bar-label">Pro. Ethics</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 88%">
                                <span>88%</span>
                            </div>
                        </div>
                                                <label class="progress-bar-label">Self Learning</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 97%">
                                <span>97%</span>
                            </div>
                        </div>
                                                <label class="progress-bar-label">Taking Initiative</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span>60%</span>
                            </div>
                        </div>
                                                <label class="progress-bar-label">Communication</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span>70%</span>
                            </div>
                        </div>
                                            </div>
                                
                                 
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <h3 class="title title-skills">Hard skills</h3>
                                            <label class="progress-bar-label">PHP</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 97%;">
                                <span>97%</span>
                            </div>
                        </div>
                                           <label class="progress-bar-label">jQuery</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 78%;">
                                <span>78%</span>
                            </div>
                        </div>
                                           <label class="progress-bar-label">WordPress</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                <span>96%</span>
                            </div>
                        </div>
                                           <label class="progress-bar-label">HTML/HTML5</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                                <span>55%</span>
                            </div>
                        </div>
                                           <label class="progress-bar-label">CSS/CSS3</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                <span>50%</span>
                            </div>
                        </div>
                                           <label class="progress-bar-label">BootStrap</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                <span>70%</span>
                            </div>
                        </div>
                                           <label class="progress-bar-label">SEO</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                <span>70%</span>
                            </div>
                        </div>
                                           <label class="progress-bar-label">Photoshop</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 97%;">
                                <span>97%</span>
                            </div>
                        </div>
                                   </div>
                            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Skills section -->
    <!-- Start Info section -->
         
    <section class="info border-bottom padding-block text-center">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h3 class="title">Hobbies &amp; Interest</h3>
                </div>
            </div>
            <!-- end row -->
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                                                <div class="circle-block ">
                            <span class="icon hover-animate"><i class="fa fa-futbol-o"></i></span>
                            <span class="name hover-animate">Programming</span>
                        </div>  
                                            <div class="circle-block ">
                            <span class="icon hover-animate"><i class="fa fa-headphones"></i></span>
                            <span class="name hover-animate">Music</span>
                        </div>  
                                            <div class="circle-block ">
                            <span class="icon hover-animate"><i class="fa fa-futbol-o"></i></span>
                            <span class="name hover-animate">Football</span>
                        </div>  
                                            <div class="circle-block ">
                            <span class="icon hover-animate"><i class="fa fa-car"></i></span>
                            <span class="name hover-animate">Travelling</span>
                        </div>  
                                            <div class="circle-block ">
                            <span class="icon hover-animate"><i class="fa fa-gamepad"></i></span>
                            <span class="name hover-animate">Video games</span>
                        </div>  
                                            <div class="circle-block ">
                            <span class="icon hover-animate"><i class="fa fa-video-camera"></i></span>
                            <span class="name hover-animate">Movies</span>
                        </div>  
                                            <div class="circle-block ">
                            <span class="icon hover-animate"><i class="fa fa-camera"></i></span>
                            <span class="name hover-animate">Photography</span>
                        </div>  
                                    </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
        <!-- End Info section -->
  <!-- Start Footer section -->
    <footer class="footer">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span> +977-123-456-7890 </a>
                </div>
                                                <!--email_off-->  
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span> info@aminfallahi.com</a>
                </div>
                <!--/email_off-->
                                                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <a href="" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span>Santhinagar, Kathmandu, Nepal  </a>
                </div>  
                               
            </div>
            <!-- end row -->
            <div class="row">
                 <div class="col-xs-12 col-sm-12 col-lg-12 text-right">
                    <span class="copyright"><a href="https://wordpress.org/">Proudly powered by WordPress</a>
			         <span class="sep"> | </span>
			        Theme: personal-info by <a href="" rel="designer">AminFallahi</a>.</span>
                </div>
                <!-- end Copyright -->
            </div>
        </div>
        <!-- end container -->
    </footer>
    <!-- End Footer section -->
</div>

<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/navigation.js"></script>
<script type="text/javascript" src="js/skip-link-focus-fix.js"></script>
<script type="text/javascript" src="js/wp-embed.js"></script>


</body></html>
