  <!-- Start Home-header section -->
  <section class="home-header border-bottom padding-block">
  <!-- start container -->
  <div class="container">
  <!-- start row -->
  <div class="row">
  <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
  <!-- Your foto -->
  <div class="foto">
  <img src="assets/images/cropped-cropped-edited.jpg" alt="Amin Fallahi" width="232" height="232">
  </div>
  <!-- end your foto -->
  </div>
  <div class="col-xs-12 col-sm-7 col-lg-7">
  <a href="http://demo.aminfallahi.com/personal-info/"><h1 class="title">Amin Fallahi</h1></a>
  <h3 class="sub-title">WordPress Theme Developer</h3>
  <!-- social icon -->
  <div class="social">
  <ul class="animated fadeIn visible" data-animation="fadeIn" data-animation-delay="600">
  <li><a class="facebook ukie-icons hover-animate" href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a class="twitter ukie-icons hover-animate" href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a class="linkedin ukie-icons hover-animate" href="#" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  <li><a class="google-plus ukie-icons hover-animate" href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
  </ul>
  </div>
  </div>
  </div>
  <!-- end row -->
  </div>
  <!-- end container -->
  </section>
  <!-- End Home-header section -->
  <!-- Start Menu section -->
  <nav class="menu">
  <!-- start container -->
  <div class="container">
  <!-- start row -->
  <div class="row"><div class="menu_cent">
  <div class="col-xs-12 col-sm-12 col-lg-12">
  
  <ul id="sparkle_menu" class="nav navbar-nav mainnav clearfix"><li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://demo.aminfallahi.com/personal-info/profile/" class="menu-image-title-below menu-image-not-hovered"><img src="assets/images/profile-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title"><br>Profile</span></a></li>
<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://demo.aminfallahi.com/personal-info/resume/" class="menu-image-title-below menu-image-not-hovered"><img src="assets/images/resume-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title"><br>Resume</span></a></li>
<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="http://demo.aminfallahi.com/personal-info/portfolio/" class="menu-image-title-below menu-image-not-hovered"><img src="assets/images/portfolio-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title"><br>Portfolio</span></a></li>
<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="http://demo.aminfallahi.com/personal-info/blog/" class="menu-image-title-below menu-image-not-hovered"><img src="assets/images/blog-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title"><br>Blog</span></a></li>
<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://demo.aminfallahi.com/personal-info/contact-form/" class="menu-image-title-below menu-image-not-hovered"><img src="assets/images/contact-150x150.png" class="menu-image menu-image-title-below" alt="" width="150" height="150"><span class="menu-image-title"><br>Contact Us</span></a></li>
</ul>  <!-- end menu block (contact) -->
  
  </div></div>
  </div>
  <!-- end row -->
   
  </div>
  <!-- end container -->
  </nav>
  <!-- End Menu section -->
